
	<div class="navbar navbar-fixed-top">
	    <div class="navbar-inner">
	        <div class="container">
	        </div>
	    </div>
	</div>
	<div class="content">
	    <div class="container">
	        <div class="page-header">
	            <h2 class="center">Appbuilder - Google Maps Dragdrop App</h2>
	        </div>
			<div id="map-coords" class="pull-right fixed-right map-coordinates">
				<!-- ><span ng-bind="{coordinates.lat}">, <span ng-bind="{coordinates.lng}"> -->
			</div>
			<div class="pull-left fixed-left">
				<ul class="mapicon-container">
					<li copydraggable ng-repeat="iconType in markerIcons">
						<img title={{iconType}} data-icontype={{iconType}} src={{getIconPathFromType(iconType)}} /> {{iconType}} Marker
					</li>
				</ul>
			</div>
			<div id="map-canvas" class="pull-left" load_map_defaults>

			</div>				
	    </div>
	</div>

<div id="addNewMarker" class="modal hide popup">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>New Marker</h3>
    </div>
    <div class="modal-body flexcroll" ng-include src="'partials/new_marker.html'" >
    </div>
</div>
