<div class="span6 offset3">
    <h2>Map Markers</h2>
    <hr>
    <table class="table table-hover table-condensed">
        <thead>
        <tr >
	        <th></th>
            <th>Marker Name</th>
            <th>Visible?</th>
            <th>Latitude</th>
            <th>Longitude</th>
			<th colspan=3></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="marker in markers">
	        <td>
				<img class="viewmode" src={{getIconPathFromMarker(marker)}}>
				<select dropdown required class="input-small editmode" ng-model="marker.iconType" ng-init="" ng-options="icon for icon in markerIcons"></select>
			</td>
            <td>
				<span class="viewmode">{{marker.name}}</span>
				<input type="text" class="input-medium editmode" ng-model="marker.name" required placeholder="Name">
			</td>
            <td>
				<span class="viewmode">{{marker.visible}}</span>
				<input type="checkbox" class="input-medium editmode" ng-model="marker.visible">
			</td>
            <td>
				<span class="viewmode">{{marker.lat}}</span>
				<input type="number" step="any" class="input-medium editmode" ng-model="marker.lat" required placeholder="Latitude, degrees">
			</td>
            <td>
				<span class="viewmode">{{marker.lon}}</span>
				<input type="number" step="any" class="input-medium editmode" ng-model="marker.lon" required placeholder="Longitude, degrees">
			</td>
			<td>
				<button class="btn update-marker btn-primary editmode" ng-click="saveMarker(marker)">Save</button>
			</td>
			<td>
				<button class="btn edit-toggle">Edit</button>
			</td>
			<td>
				<button class="btn" ng-click="deleteMarker(marker)">Delete</button>
			</td>
        </tr>
        </tbody>
    </table>

	<div ng-include src="'partials/new_marker.html'" >
	</div>
</div>