<div class="span6 offset3">
    <h2>Map Markers</h2>
    <hr>
    <table class="table table-hover table-condensed">
        <thead>
        <tr >
	        <th></th>
            <th>Marker Name</th>
            <th>Visible?</th>
            <th>Latitude</th>
            <th>Longitude</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="marker in markers">
	        <td><img src={{getIconPathFromMarker(marker)}}></td>
            <td>{{marker.name}}</td>
            <td>{{marker.visible}}</td>
            <td>{{marker.lat}}</td>
            <td>{{marker.lon}}</td>
        </tr>
        </tbody>
    </table>

	<div ng-include src="'partials/new_marker.html'" >
	</div>
</div>